footer.bg-white.py-5#contacto
  .container-fluid.pt-3
    .row.pb-5
      .col-md-3
        ul.list-unstyled.mb-4.mb-md-3
          li.mb-2.mb-md-4: span.text-light Oficina
          li.d-md-none: span.font-weight-bold Av.La Paz 1558, Miraflores<br>Lima.
          li.d-none.d-md-block: span.lead.font-weight-bold Av.La Paz 1558, Miraflores<br>Lima.
      .col-md-4
        ul.list-unstyled.mb-4.mb-md-3
          li.mb-2.mb-md-4: span.text-light Contacto
          li.mb-3
            a.font-weight-bold.text-dark.d-md-none(href="tel:+51960659337"): <img src="assets/img/phone-icon.png"> +51 960 659 337
            a.lead.font-weight-bold.text-dark.d-none.d-md-block(href="tel:+51960659337"): <img src="assets/img/phone-icon.png"> +51 960 659 337
          li
            a.font-weight-bold.text-dark.d-md-none(href="mailto:eventos@mercadoenergia.com"): <img src="assets/img/envelope-icon.png"> eventos@mercadoenergia.com
            a.lead.font-weight-bold.text-dark.d-none.d-md-block(href="mailto:eventos@mercadoenergia.com"): <img src="assets/img/envelope-icon.png"> eventos@mercadoenergia.com
      .col-md-2
        ul.list-unstyled.mb-4.mb-md-3
          li.mb-2.mb-md-4: span.text-light Sociales
          li.mb-2: a.text-dark.font-weight-medium(target="_blank" href="https://www.linkedin.com/company/mercadoenergia") LinkedIn
          li.mb-2: a.text-dark.font-weight-medium(target="_blank" href="https://www.facebook.com/MercadodeEnergia/") Instagram
          li.mb-2: a.text-dark.font-weight-medium(target="_blank" href="https://www.instagram.com/mercado.energia/") Facebook
          //- li: a.text-dark.font-weight-medium(href="#") YouTube
      .col-md-3.text-md-right.mt-4.mt-md-0
        a.text-dark.font-weight-medium.translate-on-hover.registerModalBtn(href="#" data-toggle="modal" data-target="#registerModal")
          | Consigue tus entradas 
          <img class="ml-3" src="assets/img/arrow-dark.png">
    
    .row.pt-5
      .col-md-9
        small &copy; 2018 Mercadoenergia, todos los derechos reservados.
      .col-md-3.text-md-center
        small Diseño y desarrollo por <a href="https://esedor.com" target="_blank" class="font-weight-bold text-dark">Esedor.com</a>