.navigation.d-flex
  .navigation--stripe
  .navigation--stripe
    ul.list-inline.my-auto.ml-5.pl-5
      li.list-inline-item: a.menu-link(href="#seminarios") Seminarios
      li.list-inline-item: a.menu-link(href="#sponsors") Sponsors
      li.list-inline-item: a.menu-link(href="#nosotros") Nosotros
      li.list-inline-item: a.menu-link(href="#contacto") Contacto
  .navigation--stripe
nav.main-nav
  .toggle-btn
    span
    span
    span
  //- img.navigation-toggle(src="assets/img/menu-icon.png")