-let pageTitle = 'Inicio'
-let siteName = 'The Future of Electricity 2020'
-let twitterAccount = '@edteamlat'
-let pageDescription = 'The Future of Electricity es una experiencia única que inspira a profesionales y compañias a darle vida a ideas innovadoras, transformando el futuro de la industria eléctrica.'
-let pageImage = ''
-
  let pages = [
    {
      title: 'Home',
      url: '/',
      child: []
    },
    {
      title: 'About',
      url: 'about.html',
      child: [
        {
          title: 'Subitem1',
          url: 'subitem1.html'
        },
        {
          title: 'Subitem2',
          url: 'subitem2.html'
        }
      ]
    }
  ]
